doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title flipping
    style 
        include ../views/fstyle.css
body
section.section-tours
  .text-center.u-margin-bottom-medium
    br
    br
    h2.heading-primary
      | Subject Discussion Classroom
    br
    h3.heading-secondary 
      | Click on the Branch you belong to!!!
    br
    br
    
  .row
    .col-1-of-3
      .card
        .card__side.card__side--front
          .card__picture.card__picture--1
          h4.card__heading
            span.card__heading-span.card__heading-span--1 CSE
          .card__details
            p.card__price-only Click here to choose your discussion interface
            
        .card__side.card__side--back.card__side--back-1
          .card__cta
            .card__price-box
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') One-One
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 1 
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 2
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 3
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 4
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Common
    .col-1-of-3
      .card
        .card__side.card__side--front
          .card__picture.card__picture--2
          h4.card__heading
            span.card__heading-span.card__heading-span--2 ECE
          .card__details
            p.card__price-only Click here to choose your discussion interface
            
        .card__side.card__side--back.card__side--back-2
          .card__cta
            .card__price-box
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') One-One
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 1
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 2
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 3
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 4
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Common
    .col-1-of-3
      .card
        .card__side.card__side--front
          .card__picture.card__picture--3
          h4.card__heading
            span.card__heading-span.card__heading-span--3 EEE
          .card__details
            p.card__price-only Click here to choose your discussion interface
            
        .card__side.card__side--back.card__side--back-3
          .card__cta
            .card__price-box
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') One-One
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 1
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 2
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 3
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Sec - 4
            a.btn.btn--white(href='http://127.0.0.1:5500/DASHBOARD/home.html') Common